/* ---------- general page styles ---------- */

 @font-face {
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 200;
   src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
 }
 @font-face {
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 300;
   src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
 }
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-weight: 300;
 }

 body {
   font-family: 'Source Sans Pro', sans-serif;
   color: white;
   font-weight: 300;
 }
 * > b {
   font-family: 'Source Sans Pro', sans-serif;
   color: white;
   font-weight: 600;
 }
 body ::-webkit-input-placeholder {
   /* WebKit browsers */
   font-family: 'Source Sans Pro', sans-serif;
   color: #99aade;
   font-weight: 300;
 }
 body :-moz-placeholder {
   /* Mozilla Firefox 4 to 18 */
   font-family: 'Source Sans Pro', sans-serif;
   color: #99aade;
   opacity: 1;
   font-weight: 300;
 }
 body ::-moz-placeholder {
   /* Mozilla Firefox 19+ */
   font-family: 'Source Sans Pro', sans-serif;
   color: #99aade;
   opacity: 1;
   font-weight: 300;
 }
 body :-ms-input-placeholder {
   /* Internet Explorer 10+ */
   font-family: 'Source Sans Pro', sans-serif;
   color: #99aade;
   font-weight: 300;
 }

 .wrapper {
   background: #6840ad;
   background: linear-gradient(to bottom right, #1047b5 0%, #1f98c4 100%);
   position: absolute;
   top: 0%;
   left: 0;
   width: 100%;
   min-height: 100%;
   height: max-content;
   margin-top: 0px;
 }

 .wrapper.form-success .container h1 {
   transform: translateY(85px);
 }
 .container {
   max-width: 600px;
   margin: 0 auto;
   margin-top: -20px;
   padding: 30px;
   padding-top: 50px;
   height: max-content;
   text-align: center;
 }
 .container h1 {
   font-size: 40px;
   transition-duration: 1s;
   transition-timing-function: ease-in-put;
   font-weight: 200;
 }

 form {
   padding: 5px;
   position: relative;
   z-index: 2;
 }
 form input, form textarea, form select {
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
   outline: 0;
   border: 1px solid rgba(255, 255, 255, 0.4);
   background-color: rgba(255, 255, 255, 0.2);
   min-width: 250px;
   width: 30vw;
   border-radius: 3px;
   padding: 10px 15px;
   margin: 0 auto 10px auto;
   display: block;
   text-align: center;
   font-size: 18px;
   color: #99aade;
   transition-duration: 0.35s;
   font-weight: 300;

   box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
 }

 form input:hover, form textarea:hover, form select:hover {
   background-color: rgba(255, 255, 255, 0.4);
 }
 form input:focus, form textarea:focus {
   background-color: white;
   min-width: 300px;
   width: 35vw;
   color: #4f71d6;
 }
 form button, li button {
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
   outline: 0;
   background-color: white;
   border: 0;
   padding: 10px 15px;
   color: #53e3a6;
   border-radius: 3px;
   width: 250px;
   cursor: pointer;
   font-size: 18px;
   transition-duration: 0.25s;
 }
 form button:hover {
   background-color: #f5f7f9;
 }
 li button:hover {
   background-color: #f5f7f9;
 }
 @-webkit-keyframes square {
   0% {
     transform: translateY(0);
   }
   100% {
     transform: translateY(-700px) rotate(600deg);
   }
 }
 @keyframes square {
   0% {
     transform: translateY(0);
   }
   100% {
     transform: translateY(-700px) rotate(600deg);
   }
 }

/* -------------------- table styles -------------------- */

.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
}

.table_row:nth-child(even) {
    background-color: #e5e5e5;
}

.table_header {
    text-align: left;
    color:#c24fd6
}

.table_cell {
    padding: 8px;
    color: #c24fd6
}
