<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
        <link rel='stylesheet' href='/static/styles.css'/>
        <title>BookSmart</title>
    </head>

    <body>
        <div class='wrapper'>
          <div class='container'>
            <center><h1>BookSmart</h1></center>
            <center>
              <form action="{{ url_for('search') }}" method="post" role="search">
                <input class="form__field" name="name" id="name" placeholder="Enter a book title..." required />
                <input type="submit" style="display: none"/>
              </form>
            </center>

            <center>
              {% if not found_any %}
                <h2>No results found. Please search again!</h2>
              {% else %}
                <br>
                <h2>{{ name }}</h2>
                <h3>stuff goes here</h3>
                <br><br>
                <h2>Users also liked:</h2>
                {% for recommendation in recommendations %}
                  <h4>book title goes here</h4>
                {% endfor %}
              {% endif %}
            </center>
        </div>
      </div>
    </body>
</html>
