<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
        <link rel='stylesheet' href='/static/styles.css'/>
        <title>BookSmart</title>
    </head>

    <body>
        <div class='wrapper'>
          <div class='container'>
            <center>
              <h1>BookSmart</h1>
              <h2>Library Search</h2>
            </center>
            <center>
              <form action="{{ url_for('library_search') }}" method="post" role="search">
                <input class="form__field" name="name" id="name" placeholder="Enter a library name..." required />
                <input type="submit" style="display: none"/>
              </form>
            </center>
        </div>
      </div>
    </body>
</html>
