<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
        <link rel='stylesheet' href='/static/styles.css'/>
        <title>BookSmart</title>
    </head>

    <body>
        <div class='wrapper'>
            <center><h1>BookSmart</h1></center>
            <center>
              <div class="form__group field">
                <form action="{{ url_for('search') }}" method="post">
                  <input type="input" class="form__field" placeholder="Enter a book name" name="name" id='name' required />
                  <label for="name" class="form__label">Enter a book name...</label>
                  <input type="submit" style="display: none"/>
                </form>
                </div>
            </center>
            {% if render_table %}
            <center><table class='table'>
                <tr class='table_header'>
                    {% for attribute in attributes %}
                        <th class='table_cell'>{{ attribute }}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                    <tr class='table_row'>
                    {% for cell in row %}
                        <td class='table_cell'>{{ cell }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table></center>
            {% endif %}
        </div>
    </body>
</html>
