<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
        <link rel='stylesheet' href='/static/styles.css'/>
        <title>BookSmart</title>
    </head>

    <body>
        <div class='wrapper'>
          <div class='container'>
            <center>
              <h1>BookSmart</h1>
            </center>
            <center>
              <form action="{{ url_for('search') }}" method="post" role="search">
                <input class="form__field" name="name" id="name" placeholder="Enter a book title..." required />
                <input type="submit" style="display: none"/>
              </form>
            </center>
            {% if render_table %}
            <center><table class='table'>
                <tr class='table_header'>
                    {% for attribute in attributes %}
                        <th class='table_cell'>{{ attribute }}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                    <tr class='table_row'>
                    {% for cell in row %}
                        <td class='table_cell'>{{ cell }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table></center>
            {% else %}
              <br>
              <h3>Alternatively, you can <a href="{{ url_for('library') }}">search by library</a></h3>
              <br>
              <h3><a href="{{ url_for('login') }}">Log In</a></h3>
            {% endif %}
        </div>
      </div>
    </body>
</html>
